﻿@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    <strong>Support:</strong> <a href="mailto:6110210384@psu.ac.th">6110210384@psu.ac.th</a><br/>
</address>
