@page
@model Tutor_Books.Pages.BooksCategoryAdmin.DeleteModel

@{
    ViewData["Title"] = "ลบ";
}

<h2>ลบ</h2>

<h3>คุณแน่ใจหรือว่าต้องการลบสิ่งนี้ ?</h3>
<div>
    <h4>หัวข้อวิชา</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            วิชา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BooksCategory.Subject)
        </dd>
        <dt>
           สถานที่
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BooksCategory.place)
        </dd>
        <dt>
           เวลา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BooksCategory.time)
        </dd>
        <dt>
            ชั่วโมง
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BooksCategory.hour)
        </dd>
        <dt>
            ราคา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BooksCategory.price)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="BooksCategory.BooksCategoryID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
