@page
@model Tutor_Books.Pages.BooksCategoryAdmin.DetailsModel

@{
    ViewData["Title"] = "รายละเอียด";
}

<h2>รายละเอียด</h2>

<div>
    <h4>หัวข้อวิชา</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            วิชา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BooksCategory.Subject)
        </dd>
        <dt>
            สถานที่
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BooksCategory.place)
        </dd>
        <dt>
            เวลา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BooksCategory.time)
        </dd>
        <dt>
            ชั่วโมง
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BooksCategory.hour)
        </dd>
        <dt>
            ราคา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BooksCategory.price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.BooksCategory.BooksCategoryID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
