@page
@model Tutor_Books.Pages.BooksCategoryAdmin.IndexModel

@{
    ViewData["Title"] = "จัดการหมวดวิชา";
}

<h2>จัดการหมวดวิชา</h2>

<p>
    <a asp-page="Create">สร้างหัวข้อวิชาใหม่</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                วิชา
            </th>
            <th>
                สถานที่
            </th>
            <th>
                เวลา
            </th>
            <th>
                ชั่วโมง
            </th>
            <th>
                ราคา
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BooksCategory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BooksCategoryID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BooksCategoryID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BooksCategoryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
